@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
body{
    margin: auto;
}
img{
    display: block;
}
/* NAV BAR */
header img{
    width: 50%;
    height: auto;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 28px;
}
nav ul a{
    text-decoration: none;
    color: black;
   
}
nav ul a:hover{
    border-bottom: 2px solid red;
    
}
.home{
    border-bottom: 2px solid red;
}
.contact_us{
    border: 1px solid black;
    padding: 15px 25px 15px 25px ;
    font-size: 0.9rem;
    border-radius: 5px; 
}
.contact_us:hover{
    background-color: black;
    color:white;
    border: 1px solid black;
}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}

/* hero section */
.green_circle{
    width: 550px;
    height: 550px;
    border-radius: 100%;
    border: 1 px solid rgb(7, 170, 135);
    background-color:rgb(7, 170, 135);
}
.phone_button{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.phone_button img {
    vertical-align: middle;  
}
.phone_button p {
    margin: 0;  
    line-height: 1;  
}
.phone_button:hover{
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
}
.hero_text h2{
    font-size: 4.1rem;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
}
.hero_p_text{
    font-size: 1.1rem;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400;
    line-height:2.5;
    color: #111111;
    font-family: "Open Sans", sans-serif;
}
.hero_text{
    width: 400px;
    margin-bottom: 100px;
}
.underline{
    border-bottom: 1px solid black;
}
.hero{
    position: relative;
}

.hero_image{
    width: 30%;
    height: auto;
    position: absolute;
    bottom:1px;
    right: 420px;
}
.hero_wrapper{
    display: flex;   
    justify-content: center; 
    margin-left: 11px;
    margin-top: 180px;
    gap:100px;
    align-items: center;
    
}
/* First container */

.container-one{
    background-color: #293331;
    padding: 50px;
}
.tools{
    display:flex;
    width: 1000px;
    margin:auto;
   
}
.tool{
    border: 1px solid rgb(138, 133, 133);
    padding:20px;
    color:white;
    margin: 15px;
    position: relative;
    width: 80%;
    height: auto;
    
}
.tool .background{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ff5a5a;
}
.tool img{
    position: absolute;
    bottom: 270px;
    left: 42px;
    width: 18%;
    height: auto;
}
.tool .green{
    background-color: #00ac92;
}

.tool h2{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}
.tool p{
    line-height: 1.8;
    font-size: 1rem;
    width: 100%;
}

/* Second container */

.container-two{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 1100px;
    margin:100px auto 0;
    column-gap: 20px;
}
.container-two h2{
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 30px;
    
}
.container-two p{
    line-height: 2;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    color: #111111;
    margin-bottom: 40px;
}
.container-two-text{
    width: 600px;
}
.container-two img{
    width: 100%;
    height: 120%;
    object-fit: cover;
}
.learn-more{
    padding: 17px 53px 19px 51px;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #111111;
    text-decoration: none;
    color: #111111;
    
}
.freepik-image{
    padding-bottom: 20px;
}
.learn-more:hover{
    color: white;
    background-color: black;
}
/* Third container */
.certified-translation-wrapper{
    background-color:rgb(7, 170, 135); 
    padding: 80px 90px;
    color: white;
    
}

.certified-translation-wrapper h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 25px;
    font-family: "Open Sans", sans-serif;

}
.certified-translation-wrapper  p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    
}
.certified-translation-wrapper hr{
    margin-top: 35px;
    border: 0.125rem solid white;
}
.certified-translation-wrapper .achievements{
    display: flex;
    gap: 150px;
    margin-top: 20px;
}
.certified-translation-wrapper .achievements .large-text{
    font-size: 3rem;
    font-weight: 700;
}
.certified-translation-wrapper .achievements .small-text{
    font-weight: 700;
}
.why-choose-us-wrapper{
    background-color: #ff5a5a;
    padding: 80px 90px;
    color: white;
}
.why-choose-us-wrapper h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 25px;
    font-family: "Open Sans", sans-serif;
}
.why-choose-us-wrapper p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
}
.why-choose-us-wrapper ul{
    list-style-type: none;
    font-size: 1.2rem;
    margin-top: 25px;
    line-height: 1.8;
    margin-left: 18px;
}
.why-choose-us-wrapper ul li{
    position: relative;
}
.why-choose-us-wrapper ul li::before{
    content:  "✓";
    position: absolute;
    color: white;
    left: -20px;
    font-weight: 900;
}
.container-three .learn-more{
    padding: 17px 40px 19px 40px;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    display: block;
    margin-left: -20px;
    margin-top: 20px;
    width: 20%;
    text-align: center;
    
}
.container-three .learn-more:hover{
    color: #ff5a5a;
    background-color: white;
}
.container-three{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto 0;
}

/* Fourth container */

.courses-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1100px;
    margin: auto;
    gap: 45px;
    margin-top: 50px;
}
.courses-wrapper img{
    width: 105%;
    height: 120%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}
.container-four h2{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 70px;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.container-four .container-four-details{
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: white;
    text-align: center;
}
.container-four .course{
    position: relative;
}
.container-four p{
    color:white;
    margin: 10px 30px 10px 30px;
    font-family: "Open Sans", sans-serif;
}
.container-four .overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 130px;
    position: absolute;  
    top:295px;
    left: 53px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.container-four .overlay h3{
    color:white;
    width: 70%;
    font-size:1.5rem;
    margin: 20px 30px 0px 30px;
}
.container-four .image-from-freepik{
    margin-top: 150px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.white{
    border-bottom: 1px solid white;
}
.container-four{
    background-color: #293331;
    height: 95vh;
}
/* Fifth container */
.container-five-wrapper{
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    margin-left: 400px;
    gap: 20px;
    width: 1400px;
    
    
}
.container-five-wrapper .image-1{
    width: 550px;
    height: 600px;
    object-fit: cover;
}
.container-five-wrapper h2{
    font-size: 2.3rem;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
.container-five-wrapper p{
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    margin-bottom: 45px;
    font-size: 1.3rem;
}
.container-five-wrapper a{
    border: 1px solid black;
    padding: 20px 50px 20px 50px ;
    font-size: 1.2rem;
    border-radius: 5px; 
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: black;
}
.container-five-wrapper a:hover{
    background-color: black;
    color:white;
    border: 1px solid black;
}
.container-five-wrapper .images{
    margin-top: 76px;
    display: flex;
    gap: 30px;
   
}
.container-five-text{
    margin-top: 49px;
}
.container-five-wrapper .images img{
    aspect-ratio: 1/1;
    width: 45%;
    height: auto;
    object-fit: cover;
}
.what-learners-say .red-container{
    background-color:#00ac92;
    text-align: center;
    padding: 50px;
    height: 50vh;
    margin-top: 80px;
    
}
.what-learners-say .red-container h2{
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
}
.what-learners-say .red-container p{
    color: white;
    font-size: 1.1rem;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif; 
    
}
.what-learners-say h3{
    font-weight: 700;
    font-size: 1.8rem;
    color: white;
    font-family: "Open Sans", sans-serif;  
    margin-top: 20px;
}
.fa-quote-left {
  font-size: 50px;
  color: white;
}
.what-learners-say .green-container{
    background-color: #ff5a5a;
    padding: 50px;
    text-align: center;
    height: 35vh;
}
.what-learners-say .green-container h2{
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
    margin-top: 40px;
}
.what-learners-say .green-container p{
    color: white;
    font-size: 1.1rem;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif; 
    
}
.green-container-images{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
.green-container-images div{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/2148890040.jpg);
    height: 25vh;
    width: 15vw;
    background-size: cover;
    margin: 20px;
    
}
.green-container-images div h3{
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    
}
.green-container-images div .price-tag{
    font-size: 2rem;
    font-weight: 800;
    margin-left: -230px;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif; 
   
}
.green-container-images div .price-per-person{
    margin-left: -200px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}
.green-container-images img{
    width: 40%;
    height: auto;
    aspect-ratio: 1/1;
}
.green-container-images div .sample-text{
    color:black;
    font-size: 1rem;
    margin-top: 80px;
    
    width: 331px;
    text-align: left;
    
}


/* Seventh container */

.view-all{
    margin-top: 300px;
    margin-bottom: 720px;
}

.view-all a{
    border: 1px solid black;
    padding: 20px 45px;
    font-size: 1.2rem;
    border-radius: 5px; 
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: black;
    display: block;
    width: 5%;
    margin: auto;
}
.view-all a:hover{
    background-color: black;
    color:white;
    border: 1px solid black;
}
.view-all .view-all-heading{
    font-size: 2.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 120px;
}
.view-all-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    gap:50px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 300px;
}
.view-all-container img{
    width: 10%;
    height: auto;
    margin-bottom: 40px;
}
.view-all-container h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.view-all-container p{
    line-height: 2;
    font-family: "Open Sans", sans-serif;
}
.view-all-container hr{
    border: 2px solid #00ac92;
}

/* Eight container */

.language-for-companies-red-wrapper{
    background-color: #ff5a5a;
    height: 600px;
    width: 950px;
    margin: auto;
    margin-top: 500px;
    position: absolute;
    bottom: -225px;
    right:500px;
}
.language-for-companies-white-wrapper{
    background-color: white;
    width: 500px;
    position: absolute;
    z-index: 20;
    top: -100px;
    right:900px;
    padding:65px 60px;
}
.language-for-companies-white-wrapper h3{
    font-size: 2rem;
    font-weight: 750;
    font-family: "Open Sans", sans-serif;
}
.language-for-companies-white-wrapper p{
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
    margin-top: 35px;
    
}
.language-container{
    position: relative;
    
}

.language-container img{
    width: 50%;
    height: auto;
    position: absolute;
    right:400px;
    top:-530px;   
}

.team{
    background-color: #293331;
    height: 100vh;
    padding-top: 500px;
}
.team-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1300px;
    gap: 20px;
    margin: auto;
}
.team-photo{
   width: 45%;
   height: auto;
   aspect-ratio: 1/1;
   margin: auto;
   border-radius: 100%;
   object-fit: cover;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.team-member{
    background-color: #fff;
    text-align: center;
    padding: 50px 5px;
    
}
.team-member h3,p{
    margin-top: 20px;
}
.team .team-header{
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #fff;
    font-weight: 900;
}


.contact-info-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 45px;
}
.contact-info-wrapper img{
    width: 5%;
    height: auto;
    vertical-align: middle;
}
.contact-info-wrapper p{
    margin: 0;
    line-height: 1;
}
.contact-form-details .form-wrapper form{
    display: flex;
    flex-direction: column;
}
.contact-form-details .form-wrapper form input{
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 50px;
    padding: 20px;
    outline: none;
    font-size: 1.1rem;
}
.contact-form-details .form-wrapper form input::placeholder{
    font-size: 1.2rem;
    color: #9fa3a2;
}
.contact-form-details .form-wrapper form button{
    margin-top: 20px;
    padding: 20px;
    font-size: 1.1rem;
    background-color: #ff5a5a;
    font-weight: 800;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.contact-form-details .form-wrapper form button:hover{
    background-color:rgb(7, 170, 135); 
    cursor: pointer;
}
.contact-form-details .form-wrapper h3{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
}
.contact-form-details .contact-info-wrapper p{
    font-weight: 700;
}
.contact-form-details .form-wrapper p{
    text-align: center;
}
.peach-color-text{
    color: #ff5a5a;
    font-weight: 600;
    text-decoration: underline;
}
.contact-form-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    align-items: center;
    margin: auto;
    padding: 50px;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    gap: 40px;
    position: relative;
    z-index: 10;
   
}
.contact-details-green-container{
    width: 200px;
    height: 400px;
    background-color:#00ac92;
    position: absolute;
    bottom: 150px;
    left: 380px;

}

.contact-details-peach-container{
    width: 200px;
    height: 400px;
    background-color:#ff5a5a;
    position: absolute;
    bottom: 0;
    top: 300px;
    right: 380px;
 
}

.contact-details{
    background-color: #293331;
    position: relative;
}


/* Footer */ 

.newsletter{
    display:flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 200px;
}
.newsletter-text h3{
    font-size: 2.3rem;
    font-weight: 800;
}
.newsletter-text{
    padding:20px;
    font-family: "Open Sans", sans-serif;
}
.newsletter-text p{
    font-size: 1.2rem;
    margin-top: 10px;
}
.send-email form input{
    background-color: transparent;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 280px;
    margin-right: 30px;
    border-color: white;
    color: white;
}

.send-email form input::placeholder{
    font-size: 1rem;
    border: none;
}

.send-email form input:focus{
    outline: none;
}

.send-email form{
    display: flex;
}

.send-email form button{
    padding: 15px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid #111111;
    text-decoration: none;
    color: white;
    width: 33%;
    background-color: #ff5a5a;
    border: none;
}

.send-email form button:hover{
    background-color:rgb(7, 170, 135); 
}

.contact{
    display:flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}
.contact-info img{
    vertical-align: middle;
}
.contact-info p{
    font-size: 1.1rem;
    line-height:2.5;
    margin: 0;
}

.footer-inner-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 1150px;
    margin: auto;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
}

.courses ul{
    list-style-type: none;
    line-height: 2.5;
    font-size: 1rem;
}


.courses ul li{
    border: 1px solid transparent;
}
.courses ul li:hover{
    border-bottom: 1px solid #ff5a5a;
    width: fit-content;
}


.courses h3{
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.courses ul .long-white-line{
    border-bottom:1px solid white;
    width:fit-content;
}


.support ul{
    list-style-type: none;
    line-height: 2.5;
    font-size: 1rem;
    
}

.support h3{
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.support ul li{
    border: 1px solid transparent;
}
.support ul li:hover{
    border-bottom: 1px solid #ff5a5a;
    width: fit-content;
}


.footer-logo{
    width: 45%;
    height: auto;
    margin-bottom: 20px;
}
.footer-socials img{
    width: 5%;
    height: auto;
}
.footer-socials{
    display:flex;
    gap:20px;
    margin-top: 20px;
}


footer{
    background-color: #293331;
    color: white;
    padding-top:250px;
    padding-bottom: 100px;
   
    
}
